{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "babel-plugin-module-resolver",
      {
        "root": ["/src"],
        "alias": {
          "models": "./src/models",
          "commons": "./src/commons",
          "actions": "./src/actions",
          "components": "./src/components",
          "epics": "./src/epics",
          "reducers": "./src/reducers",
          "config": "./src/config"
        }
      }
    ]
  ]
}
