.loader {
  position: fixed;
  z-index: 999;
  height: 1.1em;
  width: 1.1em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.circles path.p-1 {
  -webkit-animation: move 1s infinite;
  animation: move 1s infinite;
}

.circles circle.c-1 {
  -webkit-animation: move 1s infinite;
  animation: move 1s infinite;
}

@keyframes move {
  0% {
    transform: translateX(150px);
  }
  50% {
    transform: translateX(300px);
  }
  65% {
    transform: translateX(450px);
  }
  75% {
    transform: translateX(600px);
    stroke-dashoffset: 0;
  }
  100% {
    transform: translateX(0px);
  }
}
